@import 'variables';
@import 'mixins';
@import 'placeholders';
@import 'metro-font';
@import 'open-sans';
@import 'chosen-icons';

html, body {
	@include dimensions;
	font-family: $base-font;
}

[class*="icon-"]:before, [class*="icon-"]:after {
	@extend %nav_icon;
}

header.mainNav {
	@include dimensions(100%, 10%);

	background-color: $basestar;

	nav {
		display: flex;
		flex-direction: row;

		&.left {
			justify-content: flex-start;
		}

		&.right {
			justify-content: flex-end;
		}

		&.ends {
			justify-content: space-between;
		}

		align-items: center;

		padding: 0 5%;

		a {
			display: flex;
			align-items: center;
			height: 100%;
			width: 20%;

			@include font_size(2);
			color: $main_text;
			transition: text-shadow 0.3s ease, color 0.3s ease;

			&:active, &:visited, &:link {
				color: $main_text;
				text-decoration: none;
			}

			&:hover, &.left:before:hover, &.right:after:hover {
				@extend %text_glow;
				color: $tron_orange;
			}

			&.right {
				justify-content: flex-end;
			}
		}
	}
}

@import 'main';

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	@include dimensions(100%, 5%);
	background-color: $basestar;

	h1 {
		color: darken($tron_cyan, 10%);
	}
}