@import 'variables';
@import 'placeholders';

header.mainNav {
	width: 100%;
	height: 10%;
	background-color: $basestar;

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 1em;

		a {
			font-size: 2rem;

			&.left:before {
				@extend %nav_icon;
			}

			&.right:after {
				@extend %nav_icon;
			}
		}
	}
}