$tron_orange: #DF740C;
$sweet_yellow: #FFE64D;
$pane: #E6FFFF;
$tron_cyan: #6FC3DF;
$basestar: #0C141F;

// Floats Generic
.left {
	float: left;
}
.right {
	float: right;
}

%nav_icon {
	content: "f";
	font-size: 25px;
	font-family: 'Comic Sans MS';
	color: white
}

header.mainNav {
	width: 100%;
	height: 10%;
	background-color: $basestar;

	nav {

		padding: 1em;

		.nav-list {

			.home, .settings {
				font-size: 4rem;	
			}
			
			.home:before {
				@extend %nav_icon;
			}

			.settings:after {
				@extend %nav_icon;
			}

		}
	}
}