/* line 8, scss/index.scss */
.left {
  float: left;
}

/* line 11, scss/index.scss */
.right {
  float: right;
}

/* line 15, scss/index.scss */
header.mainNav nav .nav-list .home:before, header.mainNav nav .nav-list .settings:after {
  content: "f";
  font-size: 25px;
  font-family: 'Comic Sans MS';
  color: white;
}

/* line 22, scss/index.scss */
header.mainNav {
  width: 100%;
  height: 10%;
  background-color: #0c141f;
}
/* line 27, scss/index.scss */
header.mainNav nav {
  padding: 1em;
}
/* line 33, scss/index.scss */
header.mainNav nav .nav-list .home, header.mainNav nav .nav-list .settings {
  font-size: 4rem;
}
